@use "../colors";

.btn {
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    padding: 1em 2em;
    background-color: #C2B8FF;
    color: black;
    font-weight: 600;
    transition: all 0.5s;
    margin: 0.5em;
}

.btn:hover {
    background-color: colors.$blue;
    color: white;
}

.btn--primary {
    background-color: colors.$blue;
    color: white;
}

.btn--backIcon {
    width: 30px;
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
}

.btn--filterIcon {
    margin-left: 100px;
    margin-top: 30px;
}

.btn--linkOutline {
    text-align: center;
}

.back-icon{
    width: 30px;
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
}