@use "../colors";

.user-input{
    width: 80%;
    height: 40px;
    border-color: colors.$green;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
}

.user-input--xl{
    width: 80%;
    height: 60px;
}